@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Notable&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Manrope:wght@200..800&display=swap');


body {
  margin: 0;
  background: rgb(245	,244,	238);
  font-family: 'Bitter';
  /* font-family: "Manrope"; --- use this for buttons? */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  /* background: #FACFAD; */
  background: #f2aba5;
  /* background: #e8dbff; */
  color: white;
}

h1::selection {
  background: #f2aba5;
  color: #30292F;
  /* color: rgb(245	,244,	238); */
  text-shadow: 4px 4px rgb(245	,244,	238);
}

h1 {
  font-family: 'Abril Fatface';
  font-style: italic;
  text-shadow: 3px 3px #fbc4ab;
  font-size: 45px;
  color: #30292F;

}

h2 {
  text-shadow: 2px 2px #f2aba5;
  padding: 0;
  margin: 0;
}

.desc {
  padding: 1.5em;
  font-size: 14px;
  text-align: justify;
  color: #30292F;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

svg {
    font-family: 'Poppins';
    font-weight: 800;
    max-width: 100%; 
}

svg::selection {
  background: white;
}

.year {
  font-style: italic;
}

.tooltip{
  text-align: left;
  position: absolute;
  font-size: 15px;
  font-family: "Menlo";
  background-color: rgb(245	,244,	238);
  border-style: dotted;
  border-width: 3px;
  border-color: slate;
  padding: 1em;
  max-width: 300px;
}

a {
  font-size: 14px;
  color: #30292F;
  text-decoration: none; 
}

.footer {
  padding: 1em;
}
