@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Notable&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Manrope:wght@200..800&display=swap');


body {
  margin: 25px;
  background: rgb(245	,244,	238);
  font-family: 'Bitter';
  /* font-family: "Manrope"; --- use this for buttons? */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  /* background: #FACFAD; */
  background: #f2aba5;
  /* background: #e8dbff; */
  color: white;
}

h1::selection {
  background: #f2aba5;
  color: #30292F;
  /* color: rgb(245	,244,	238); */
  text-shadow: 4px 4px rgb(245	,244,	238);
}

h1 {
  font-family: 'Abril Fatface';
  font-style: italic;
  text-shadow: 3px 3px #fbc4ab;
  font-size: 45px;
  color: #30292F;

}

h2 {
  text-shadow: 2px 2px #f2aba5;
  padding: 0;
  margin: 0;
}

.desc {
  padding: 1.5em;
  /* margin-bottom: 2em;?? */
  margin: 3em 20px 3em 20px;
  font-size: 10px;
  text-align: justify;
  color: #30292F;
  /* background: white; */
  font-family: "Menlo";
  border-style: dotted;
  border-width: 3px;
  border-color: slate;
  /* padding: 1em; */
}

.footer {
  margin: 20px;
  color: #30292F;
  font-size: 12px;
  font-family: "Menlo";
}

a {
  text-decoration: none; 
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

svg {
    font-family: 'Poppins';
    font-weight: 800;
    max-width: 100%; 
}

svg::selection {
  background: white;
}

.year {
  font-style: italic;
}

.tooltip{
  text-align: left;
  position: absolute;
  font-size: 15px;
  font-family: "Menlo";
  background-color: rgb(245	,244,	238);
  border-style: dotted;
  border-width: 3px;
  border-color: slate;
  padding: 1em;
  max-width: 300px;
}

.filter-inputs {
  padding: 0 20px;
  display: flex;
  font-family: 'Manrope';
  font-size: 12px;
  align-items: baseline;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: baseline;
  gap: 3px;
}

.select-container {
  display: flex;
  gap: 2px;
  align-items: baseline;
  align-content: flex-start;
}

.buttons-container {
  display: flex;
  gap: 2px;
  align-items: baseline;
  align-content: flex-start;
}

label {
  /* font-family: 'Bitter'; */
  /* font-size: '10px'; */
  text-align: left;
}

select {
  padding: 5px 10px 5px 8px;
  border-radius: 25px;
  /* border: 2px solid; */
  background-color: white;
  font-size: 10px;
  /* font-weight: 600; */
  text-align: center;
  margin-right: 10px;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

button {
  padding: 5px 10px;
  border-radius: 25px;
  border: 2px solid;
  background-color: white;
  font-size: 10px;
  font-weight: 600;
}

.action {
  border-color: #dadea4;
  color: #dadea4;
  transition: all 0.4s;
}

.action.btn-selected {
  background: #dadea4;
  color: white;
  transition: all 0.4s;
}

.crime {
  border-color: #fbe8b2;
  color: #fbe8b2;
  transition: all 0.4s;
}

.crime.btn-selected {
  background: #fbe8b2;
  color: white;
  transition: all 0.4s;
}

.drama {
  border-color: #e8dbff;
  color: #e8dbff;
  transition: all 0.4s;
}

.drama.btn-selected {
  background: #e8dbff;
  color: white;
  transition: all 0.4s;
}

.fantasy {
  border-color: #fff0f0;
  color: #fff0f0;
  transition: all 0.4s;
}

.fantasy.btn-selected {
  background: #fff0f0;
  color: white;
  transition: all 0.4s;
}

.history {
  border-color: #f2aba5;
  color: #f2aba5;
  transition: all 0.4s;
}

.history.btn-selected {
  background: #f2aba5;
  color: white;
  transition: all 0.4s;
}

.romance {
  border-color: #cabfc2;
  color: #cabfc2;
  transition: all 0.4s;
}

.romance.btn-selected {
  background: #cabfc2;
  color: white;
  transition: all 0.4s;
}

.science-fiction {
  border-color: #e6e2d6;
  color: #e6e2d6;
  transition: all 0.4s;
}

.science-fiction.btn-selected {
  background: #e6e2d6;
  color: white;
  transition: all 0.4s;
}

.thriller {
  border-color: #8D91C7;
  color: #8D91C7;
  transition: all 0.4s;
}

.thriller.btn-selected {
  background: #8D91C7;
  color: white;
  transition: all 0.4s;
}

.war {
  border-color: #B0DAF1;
  color: #B0DAF1;
  transition: all 0.4s;
}

.war.btn-selected {
  background: #B0DAF1;
  color: white;
  transition: all 0.4s;
}

.western {
  border-color: #FFBF81;
  color: #FFBF81;
  transition: all 0.4s;
}

.western.btn-selected {
  background: #FFBF81;
  color: white;
  transition: all 0.4s;
}
